  body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 10px 50px;
  }
  
  .todo-head {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  #todo-entry {
    width: 100%;
    padding: 5px;
  }
  
  #todo-list {
    padding: 0;
    margin: 20px 0;
  }
  
  #todo-list li {
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid black;
  }
  
  #todo-list li:hover {
    background: #9cb6d6;
  }
  
  #todo-list li:after {
    content: "";
    clear: both;
    display: block;
    height: 0
  }
  
  .todo-listitemleft {
    width: 75%;
    float: left;
  }
  
  .todo-listitemright {
    width: 25%;
    float: left;
  }
  
  .todo-task {
    padding-left: 50px;
  }
  
  input[type=checkbox]:checked + span {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  #todo-actions {
    width: 100%;
    padding: 20px 0;
  }
  
  button {
    padding: 5px 20px;
    margin-right: 20px;
    cursor: pointer;
    background: #71a2e0;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background: #8eb4e4;
  }
  
  .todoError {
    color: red;
    font-size: 12px;
  }